body {
    background-color: #fbfbfb;
    font-family: 'Roboto Condensed'
}

.btn-au {
    -webkit-box-shadow: 1px 1px 10px 0px rgba(237,104,47,0.75);
    -moz-box-shadow: 1px 1px 10px 0px rgba(237,104,47,0.75);
    box-shadow: 1px 1px 10px 0px rgba(237,104,47,0.75);
    background-color: #ed682f;
    opacity: .8;
}