#docs {
    padding: 50px 0;

    .page-header {
        text-align: center;

        .table-of-contents {
            list-style: none;
    
            li {
                float: left;
                width: 120px;
                border: 1px solid #ed682f;
                padding: 5px;
                margin: 5px;
                text-align: center;

                a {
                    color: #ed682f;
                }
            }
        }
    }

    .page-content {        
        .header {
            height: 30px;
            color: white;
            padding: 2px 5px;
            margin: 20px 0;
            background-color: #ed682f;
        }

        .content {
            pre {
                margin-bottom: 0;
                color: #BD4145;
            }
        }
    }
}