.aurelia-bs-datatable {

    .pointer {
        cursor: pointer;
    }
    
    .header {
        padding: 5px;
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;

        button {
            margin-top: 3px;
            margin-left: 3px;
        }

        .page-sizes {
            width: 100%;
        }

        .search {
            position: relative;
            font-size: 16px;

            input {            
                width: 100%;
                text-indent: 25px;
            }

            span {
                position: absolute;
                top: 8px;
                left: 10px;
            }
        }

        .column {
            padding: 3px !important;
        }
    }

    table {
        margin: 0;

        tbody {
            tr {
                &.selected {
                    background-color: #337ab7 !important;
                    color: white !important;
                }

                &.hover {
                   &:hover {
                        background-color: #337ab7;
                        color: white !important;
                    }
                }
                
                td {
                    vertical-align: middle;
                }
            }
        }
    }
    
    .footer {
        padding: 15px;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd; 

        .info {
            margin-top: 0px;
            display: inline-block;
        }

        nav {
            position: absolute;
            right: 8px;
            top: -7px;
            height: 34px;
            display: inline-block;

            ul {
                margin: 0;
                
                li {
                    &.dots {
                        cursor: default !important;
                        a {
                            &:hover {
                                background: white !important;
                            }
                        }
                    }
                }
            }
        }  
    }

    @media only screen and (max-width: 760px)  {

        .table-responsive {
            margin-top: 10px !important;   
        }

        /* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr { 
            display: block; 
        }

        .page-sizes {
            margin-bottom: 10px;
        }
        
        .header {
            border: none;
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr { 
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        
        tr { border: none !important; }
        
        td { 
            /* Behave  like a "row" */
            border:none !important;
            border-top: 1px solid #ddd !important;
            position: relative;
            padding-left: 50%; 
        }

        .footer {
            border:none !important;
            border-top: 1px solid #ddd !important;
        }
        
        td:before { 
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%; 
            padding-right: 10px; 
            white-space: nowrap;
        }	        
    }
}