<template>
    <require from="./aurelia-bs-datatable.css"></require>
    <div id="${id}" class="aurelia-bs-datatable">
        <div class="header">
            <div class="row">
                <div class="col-md-6">
                    <button click.delegate="reset_selection()" if.bind="selected_rows.length > 0" type="button" class="btn btn-default reset_selection"
                        class.bind="settings.button_classes">
                        ${ settings.language.reset_selection }
                        <i class="fa fa-close"></i>
                    </button>
                </div>
                <div class="col-md-6">
                    <div class="col-md-9 column">
                        <div class="search" if.bind="settings.show_search">
                            <span class="fa fa-search"></span>
                            <input keyup.delegate="search() & debounce:500" value.bind="search_query" type="text" placeholder.bind="settings.language.search_placeholder"
                                class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 column">
                        <div class="page-sizes" if.bind="settings.page_sizes">
                            <select class="form-control" value.bind="selected_pagesize" change.delegate="change_pagesize()">
                            <option repeat.for="page_size of settings.page_sizes" model.bind="page_size">${ page_size }</option>
                        </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table if.bind="initial_load_done" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th repeat.for="column of settings.columns" click.delegate="set_sorting($index)" class.bind="column.sortable ? 'sortable' :''">
                        ${ column.title }
                        <span if.bind="column.sortable" class="sorting">
                            <i class="fa fa-caret-up descending sort" 
                                class.bind="sort_column == $index && sort_direction == 0 ? 'active' : ''" 
                                aria-hidden="true"></i>
                            <i class="fa fa-caret-down ascending sort" 
                                class.bind="sort_column == $index && sort_direction == 1 ? 'active' : ''" 
                                aria-hidden="true">
                            </i>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody if.bind="!is_loading && data.length > 0">
                <tr repeat.for="item of data" click.delegate="row_click($index, item, $event)" dblclick.delegate="row_double_click($index, item, $event)"
                    class="
                        ${settings.on_row_click || settings.row_double_click || settings.select_on_click ? 'pointer hover ' : ''}
                        ${is_selected(item) ? 'selected': ''}
                    ">
                    <td repeat.for="column of settings.columns" width.bind="column.width">
                        <span if.bind="column.image">
                            <img src="${ item[column.data] }">
                        </span>
                        <span if.bind="!column.image">${ item[column.data] }</span>
                    </td>
                </tr>
            </tbody>
            <tbody if.bind="!is_loading && data.length == 0">
                <tr>
                    <td repeat.for="column of settings.columns">
                        <span if.bind="$index == 0">${ settings.language.no_results }</span>
                    </td>
                </tr>
            </tbody>
            <tbody if.bind="is_loading">
                <tr>
                    <td repeat.for="column of settings.columns">
                        <span if.bind="$index == 0">
                            <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
                            <span>${ settings.language.loading }</span>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="info">
                        ${ footer_message }
                        <span if.bind="search_query.length > 0 && data.length > 0"> (${ settings.language.filtered })</span>
                    </div>
                    <nav>
                        <ul class="pagination">
                            <li>
                                <a click.delegate="previous_page()" aria-label="Vorige">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li if.bind="current_page > amount_of_pages + 1">
                                <a if.bind="!is_loading" click.delegate="change_page(0)">1</a>
                            </li>
                            <li if.bind="current_page > amount_of_pages + 2" class="dots">
                                <a if.bind="!is_loading">...</a>
                            </li>
                            <li if.bind="refresh_done" repeat.for="i of previous_pages">
                                <a if.bind="!is_loading" click.delegate="change_page((current_page + i) - amount_of_pages - 1)"> ${ calculate_previous_page_number(i) }</a>
                            </li>
                            <li class="active">
                                <a if.bind="!is_loading">${ current_page }</a>
                            </li>
                            <li if.bind="refresh_done" repeat.for="i of following_pages">
                                <a if.bind="!is_loading" click.delegate="change_page(current_page + i)">${ current_page + (i + 1) }</a>
                            </li>
                            <li if.bind="current_page < total_pages - 3" class="dots">
                                <a if.bind="!is_loading">...</a>
                            </li>
                            <li if.bind="current_page < total_pages - amount_of_pages">
                                <a if.bind="!is_loading" click.delegate="change_page(total_pages - 1)">${ total_pages }</a>
                            </li>
                            <li>
                                <a click.delegate="next_page()" aria-label="Volgende">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</template>