#server-side-demo-container {
    padding: 50px 0;

    .nav-bar {
        margin-bottom: 20px;

        .nav-btn {
            padding: 0;

            button {
                border: 1px solid #ed682f;
                color: #ed682f;
                background-color: transparent;
                border-radius: 0px;
                width: 100%;
                height: 40px;
                opacity: .8;
                text-transform: uppercase;
                
                &.active {
                    background-color: #ed682f;
                    color: white;
                }
                
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .content {
        padding: 0;
    }

    .filter-button {
        padding: 0;
        background-color: #ed682f;
        color: white;
        opacity: .8;
        border-radius: 0;
    }
    
    .nav {
        .nav-item {
            width: 25%;
            text-align: center;
            border: 1px #ed682f solid;
            opacity: .8;
        
            .nav-link {
                color: #ed682f;
                text-transform: uppercase;

                &.active {
                    border-radius: 0;
                    background-color: #ed682f;
                    color: white;
                }
            }
        }
    }

    img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .btn-primary {
        background-color: #333;
        color: white;
        border-color: #333;
        border-radius: 0px;
    }
    
    .header {
        padding: 10px;
        border-top: 1px solid #e9ecef;
        border-left: 1px solid #e9ecef;
        border-right: 1px solid #e9ecef;

        h6 {
            margin-top: 10px;
            margin-left: 10px;
        }
    }
    
    .form-control {
        border-radius: 0;
        outline: none;
    }

    .descending {
        margin-left: -7px !important;
    }

    select.form-control {
		width: 100%;
		height: 38px;                 
		-webkit-appearance: none;
		font-size: 9pt;
		-moz-appearance: none;
		background: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='18' height='18' viewBox='0 0 24 24'><path fill='grey' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>") #fff;
		background-position: 98% 50%;
		background-repeat: no-repeat;
		border-radius: 0;
		border: 1px solid rgba(0, 0, 0, 0.15);
		padding: 2px 0 0 10px;
	} 

    table {
        margin: 0;

        thead {
            .au-table-filter {
                .btn-primary {
                    padding: 1px 6px 2px 6px;
                    border-radius: 0;
                }
            }
        }

        tbody {
            tr {
                &.selected {
                    background-color: #333 !important;
                    color: white !important;
                }
                     
                td:first-child {
                    text-align: center;
                }

                
                &:hover {
                    background-color: #333;
                    color: white !important;
                    cursor: pointer;
                }                
                
                td {
                    vertical-align: middle;
                }
            }
        }
    }
    
    .footer {

        .col-md-6 {
            padding: 0;
        }

        padding: 10px 10px;
        height: 55px;
        border-left: 1px solid #e9ecef;
        border-right: 1px solid #e9ecef;
        border-bottom: 1px solid #e9ecef; 

        .au-table-info {
            margin-top: 8px;
            margin-left: 10px;
        }

        .info {
            margin-top: 0px;
            display: inline-block;
        }

        nav {

            ul {
                margin: 0;
                
                li {
                    a {                        
                        border-radius: 0px;
                        color: #333;        
                    }

                    &:hover {
                        cursor: pointer;
                    }                     
                                            
                    &.dots {
                        cursor: none !important;
                    }

                    &.active {
                        a {
                            background-color: #333;
                            border-color: #333;
                            color: white;
                        }
                    }

                    &.dots {
                        cursor: default !important;
                        a {
                            &:hover {
                                background: white !important;
                            }
                        }
                    }
                }
            }
        } 
    } 
    
    .nav-tabs {
        margin-top: 50px;
    }
}