#wrapper {
    margin-top: 100px;

    img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    
    .header {
        padding: 5px;
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }

    table {
        margin: 0;

        thead {
            .au-table-filter {
                .btn-primary {
                    padding: 1px 6px 2px 6px;
                    border-radius: 0;
                }
            }
        }

        tbody {
            tr {
                &.selected {
                    background-color: #337ab7 !important;
                    color: white !important;
                }
                     
                td:first-child {
                    text-align: center;
                }

                
                &:hover {
                    background-color: #337ab7;
                    color: white !important;
                    cursor: pointer;
                }                
                
                td {
                    vertical-align: middle;
                }
            }
        }
    }
    
    .footer {

        .col-md-6 {
            padding: 0;
        }

        padding: 10px 5px;
        height: 55px;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd; 

        .au-table-info {
            margin-top: 8px;
            margin-left: 10px;
        }

        .info {
            margin-top: 0px;
            display: inline-block;
        }

        nav {

            ul {
                margin: 0;
                
                li {
                    &.dots {
                        cursor: default !important;
                        a {
                            &:hover {
                                background: white !important;
                            }
                        }
                    }
                }
            }
        }  
    }

    @media only screen and (max-width: 760px)  {

        .table-responsive {
            margin-top: 10px !important;   
        }

        /* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr { 
            display: block; 
        }

        .page-sizes {
            margin-bottom: 10px;
        }
        
        .header {
            border: none;
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr { 
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        
        tr { border: none !important; }
        
        td { 
            /* Behave  like a "row" */
            border:none !important;
            border-top: 1px solid #ddd !important;
            position: relative;
            padding-left: 50%; 
        }

        .footer {
            border:none !important;
            border-top: 1px solid #ddd !important;
        }
        
        td:before { 
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%; 
            padding-right: 10px; 
            white-space: nowrap;
        }	        
    }
}