#server-side-demo-container {
    padding: 50px 0;

    .nav-bar {
        margin-bottom: 20px;

        .nav-btn {
            padding: 0;

            button {
                border: 1px solid #ed682f;
                color: #ed682f;
                background-color: transparent;
                border-radius: 0px;
                width: 100%;
                height: 40px;
                opacity: .8;
                text-transform: uppercase;
                
                &.active {
                    background-color: #ed682f;
                    color: white;
                }
                
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }   

    .content {
        padding: 0;
    }

    pre {
        background-color: white;
        padding: 0 30px;
        border: 1px solid  rgba(0,0,0,.12);
    }
}